.completeLi {
    display: flex;
    align-items: center;
    padding-top: 0px;
}

.completeLi input{
    transform: scale(2);
}

.completeLi input:checked + h2{
    text-decoration: line-through;
}

.completeLi h2{
    color: #8d8a8a;
    padding-left: 30px;
}

